{% block title %}The Band{% endblock %}

{% block content %}
              
<div class="grid">
  
    <div class="grid__item lap-and-up-eight-twelfths">
      	  <h2>Steve Lambsden</h2>
            <h3>Lead Vocals and Guitar</h3>
            <p>Steve reckons he is a bit of a motorcycle fan, well he has to move his bike out to get into his music studio, and it always seems to spend more time out than in! As a teenager Steve found a musical outlet in the bass guitar, he still has his little Fender Mustang from back in the day. Since then he has expanded, not only into singing and guitar, but in his self-built studio where he plays drums, keys andeven a synth sax!</p>
            <p>His roots are in electric blues - Peter Green, Santana, Clapton, BB King and the Allmans but Steve also has a good ear for music generally, leading him to getting involved in a variety of interesting recording projects in his studio. He has not only written all of the original songs on the band’s album but recorded, engineered and produced them too.</p>
            <p>Steve has the most expensive taste in instruments; he uses a PRS Santana guitar (which goes through a variety of funny little tins with flashing lights and knobs) the glorious sound of which emerges in all its magnificence from a Mesa Boogie Lone Star Special combo amp.</p>
            <p>Fave BI Song - Everything But Love</p>         
      </div><!-- 

 --><div class="grid__item lap-and-up-four-twelfths">
   		<img src="{{ 'steve.jpg' | asset_url }}" alt="Steve Photo">
    </div><!-- 

 --><div class="grid__item lap-and-up-four-twelfths">
   		<img src="{{ 'tony.jpg' | asset_url }}" alt="Tony Photo">
    </div><!-- 
    
 --><div class="grid__item lap-and-up-eight-twelfths">
          <h2>Tony Elsworth-Smith</h2>
          <h3>Harp &amp; Occasional Vox</h3>
          <p>It was seeing the live rocking blues of bands like George Thorogood and The Destroyers and The Fabulous Thunderbirds at legendary London venues Dingwall’s and Hope &amp; Anchor back in the 80’s &amp; 90’s that pressed the button for Tony; and a friend’s birthday that gave him the excuse to get a band together. ‘The Bridge’ was born – a 10 piece Soul band!</p>
          <p>Influences? from the great Kim Wilson (harp, of course) to Augustus Pablo (Dub melodica), Paul Butterfield, the two Walters, the Sonny Boys… please, don’t start him talking, it’s a long list!</p>
          <p>In 2002 Tony was given Steve Lambsden’s number by his barber - The Blues Issue was born.</p>
          <p>Tony insists on Hohner Marine Band harps, is rather fond of his Harpgear Double Trouble amp from the U.S. as well as his selection of vintage harp mics…and his own very long vintage tweed lead!</p>
          <p>Fave BI tune - Hoochie Coochie Man</p>      
      </div><!-- 
    
 --><div class="grid__item lap-and-up-eight-twelfths">
   	    <h2>Nodd</h2>
        <h3>Basses and occasional B.Vox</h3>
        <p>“Talent spotted” at a jam night in Hove, Nodd first appeared with the ‘Stan’s Blue Notes’ version of BI in 2004, and got fired 3 months later…oops! Clerical error. Shortly after this false start he was re-instated and has held down the bottom end of BI business since.</p>
        <p>On his way to Worthing Nodd enjoyed a period of success with Glasgow band “The Radars”, a publishing contract with Slade, 10 years of 50’s style R’n’B with “5 Go Jazz” and a hit track on a Ministry of Sound album. In addition to his Blues duties, Nodd also supplies low-end energy to Cajun band “Rough Chowder” as well as Simon Beavis’ mellifluous folk.</p>
        <p>Outside of his music, Nodd produces and manages several large festivals and events, both in the UK and abroad and he reads comics, lots of them!</p>
        <p>Bass underpinning is maintained using a ‘75 Fender Precision, Musicman Bongo or Dean EUB (all lefties) into a Mesa Boogie Walkabout amp, EAW and Mesa Scout speakers, in addition to an almost limitless number of facial contortions and strutting.</p>
        <p>Fave BI Groove - Ramblin’ Blues</p>
    </div><!-- 
    
 --><div class="grid__item lap-and-up-four-twelfths">
      <img src="{{ 'nodd.jpg' | asset_url }}" alt="Nodd Photo">
    </div><!-- 
    
 --><div class="grid__item lap-and-up-four-twelfths">
      <img src="{{ 'glenn.jpg' | asset_url }}" alt="Glenn Photo">
    </div><!-- 
    
 --><div class="grid__item lap-and-up-eight-twelfths">
      	  <h2>Glenn Mc Pheat</h2>
          <h3>Guitar &amp; Sometime Lead Vox</h3>
          <p>He’s been playing since school days and still does - he’s a teacher! From jamming Hendrix with a classmate on melodean, Glen has an impressive track record ranging across folk, pop, blues and rock’n’roll, other influences include Zep, Muddy Waters and Lou Reed. It was his stint together with Nodd in a Cajun band that introduced him to BI.</p>
          <p>His upfront style supplies many a scorching riff, although once a fiery solo saw him set his hair alight. Glen also heads up “The Shakedown Collective” a four-piece band which includes his brother..and Matt.</p>
          <p>In his other life, quieter contemplation and natural things bring balance to his character…just don’t mention packing the gear away!</p>
          <p>Glen strums his favourite Tokai DC Love Rock guitar thro a Zen Overdrive, TC Electronics Hall of Fame Reverb and Spark pedals into an Evil Robot combo amplifier, well, this week at least, watch this space for new guitars and effects - it won’t be long.</p>
          <p>Fave BI Song - Whipping Post</p>        
    </div><!-- 
    
 --><div class="grid__item lap-and-up-eight-twelfths">
      	  <h2>Matt Greenfield</h2>
          <h3>Drums</h3>
          <p>Spending most of his working hours in front of a computer, Matt ensures his unique life/work balance by film-making and cycling… doesn’t he fall off? His comparatively brief but busy musical career has seen him play Mustang Sally in almost every workingmen’s club on the South Coast, his dead pan ‘drum face’ belies the enthusiasm and joy he brings to his performances. He also reduces the average age of the band by 20%.</p>
          <p>Sticksmen he admire include Steve Jordan, Carter Beauford and ?uestlove and for the Blues – Ray Charles, John Mayer &amp; Derek Trucks.</p>
          <p>Matt also holds the drummer’s position in Glen’s own band “Shakedown Project” and a “function band”.</p>
          <p>Matt rocks a 1962 Ludwig Super Classic drum kit with a Yamaha ‘Steve Jordan Signature’ 13” x 6.5” Snare, he uses Zildjian K and A cymbals all of which he wallops with Vic Firth sticks.</p>
          <p>Fave BI Song - Bad Day for the Blues</p>
    </div><!-- 
    
 --><div class="grid__item lap-and-up-four-twelfths">
      <img src="{{ 'matt.jpg' | asset_url }}" alt="Matt Photo">
    </div>

</div>

{% endblock %}